.alert-wrapper {
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 300px;
}

.alert-item {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  cursor: pointer;
  animation: SlideLeft 0.5s;
  animation-fill-mode: forwards;
  width: 100%;
  position: relative;
}

.alert-item.exit {
  animation: SlideRight 0.5s;
  animation-fill-mode: forwards;
}

.alert-item .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4rem;
}

@keyframes SlideLeft {
  0% {
    margin-left: 120%;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes SlideRight {
  0% {
    margin-left: 0%;
  }

  100% {
    margin-left: 120%;
  }
}

.alert-item h3 {
  font-size: 1.4rem;
  color: black;
  margin: 0.4rem;
  font-style: normal;
}

.alert-item p {
  padding: 0.6rem 0.4rem 0.4rem;
  margin: 0.4rem 0;
}

.alert-item span {
  color: blue;
  font-weight: 800;
  text-decoration: underline;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  display: block;
}

.alert-item .bar {
  height: 0.3rem;
}

.success .bar {
  background-color: green;
}

.error .bar {
  background-color: darkred;
}

.warning .bar {
  background-color: orange;
}

.info .bar {
  background-color: darkblue;
}

.btn {
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem 1.4rem;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
  border: none;
  color: white;
}

.btn-success {
  background-color: green;
}

.btn-error {
  background-color: darkred;
}

.btn-warning {
  background-color: orange;
}

.btn-info {
  background-color: blue;
}

.input {
  display: flex;
  margin: 1rem;
}

.select {
  margin: 1rem;
}
